.image_database {
    width: 300px;
}


.banner_button {
    padding: 5%;
    border-radius: 5px;
}

.movie_container {
    border: 3px solib black;
}

.movies__synopsis {
    font-family: cursive;
    font-size: 20px;
}