.nav-transparent_link {
    transition: all 2.5s ease;
    opacity: 0;
    margin-right: 3%;
}


.search_form {
    transition: all 2.5s ease;
    opacity: 1;
    margin-right: 5px;
    width: 100px;
}

.form_search_input {
    display: flex;
    flex-direction: row;
    margin-right: 4%;
}



