.formulaire {
    border: solid 3px black;
    border-radius: 10px;
    width: 30%;
    margin: 50px auto;
    margin-bottom: 100px;
    padding: 20px;
    background: grey;
}

input {
    width: 80%;
    margin: 0 auto;
}
label {
    font-size: 20px;
    font-family: cursive;
}

.buttonForm {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}