.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;

}



.nav {
    z-index: 1;
    display: flex;
    //align-items: center;
    //align-content: flex-start;
    position: fixed;
    width: 100vw;
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(2, 3, 50, 0.105));
    transition: background-color .3s ease-in-out;
    a {
        color: rgb(227, 18, 18);
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        padding: 2%;

    }
    &--black {
        display: flex;
        flex-direction: row;
         background-color: rgb(0, 0, 0);
         padding: 1%;
         width: 120%;
    }


    img.logo {
        position: fixed;
        top: -33px;
        margin-right: 500px;

    }
    img.nav_logoNav {
        width: 20px;
    }

    
    .nav-transparent_link {
        display: flex;
        flex-direction: row;
        width: 100%; 
        transition: all 2s ease;
        opacity: 0;
    }


    .nav__links {
        display: flex;
        flex-direction: row;
        width: 100%;
        width: 20vh; 
    }
    .nav_actions {
        margin-left: 800px;
        display: flex;
        justify-content: end;
        flex-direction: row;

    }


    &_burger { 
         cursor:pointer;
         color: red;
         margin-right: 1rem;
         @media screen and (min-width:768px) {
             display:none
         }
    }
    &__links {
        margin-left: 20px;
        transition: background-color .3s ease-in-out;
        .nav__link {
            text-decoration: none;
            padding: 5px 10px;
            display: flex;
            flex-direction: column;
        }
        @media screen and (max-width:767px) {
            margin-left: 0;
            visibility: hidden;
            position: absolute;
            top: 110%;
            right: 0;
            .show & {
                display: flex;
                flex-direction: column;
                visibility: visible;
                width: 100%;
                margin-left: 20px;
                height: 200px;
                top: 20px;
                background-color: rgb(103, 17, 17);
            }
            .nav__linka {
                font-family: cursive;
                display: flex;
                flex-direction: column;
                align-content: center;
                margin: 0;
                padding: 0;

            }

            a.nav__linka-transparent {
                transition: all 2s ease;
                opacity: 0;
        
            }
        

       

            
        }

    }


}